Port {{ ssh_port }}
AddressFamily any
{% for addr in ssh_listen_address %}
ListenAddress {{ addr }}
{% endfor %}

{% for hostkey in ssh_hostkeys %}
HostKey {{ hostkey.path }}
{% endfor %}

PermitRootLogin without-password

# The default is to check both .ssh/authorized_keys and
# .ssh/authorized_keys2 but this is overridden so installations will
# only check .ssh/authorized_keys
AuthorizedKeysFile	.ssh/authorized_keys

SyslogFacility AUTHPRIV

PasswordAuthentication {{ ssh_allow_password_auth|default('no') }}
ChallengeResponseAuthentication no
GSSAPIAuthentication yes
GSSAPICleanupCredentials no
UsePAM yes
X11Forwarding yes

# It is recommended to use pam_motd in /etc/pam.d/sshd instead of
# PrintMotd, as it is more configurable and versatile than the
# built-in version.
PrintMotd no

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

Subsystem sftp  /usr/libexec/openssh/sftp-server
